<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KET pažeidimai</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <style>
        body{margin: 8px;}
    </style>
    <script>
        function goToLocation(url) {
            if(url) {
                return window.location = url
            }
        }
    </script>
</head>
<body>
    <p class="title is-1">🚘 🎟</p>
    <table class="table is-fullwidth is-bordered">
        <thead class="has-background-primary">
            <tr>
                <th>Automobilio valstybinis numeris</th>
                <th>Laikas</th>
                <th>Lokacija</th>
                <th>Nuotraukos</th>
            </tr>
        </thead>
        <tbody>
            {{#each tickets}}
                <tr>
                    <td width="300"><b>{{plateNumber}}</b></td>
                    <td width="200">Pranešimas registruotas: <b>{{date}}</b></td>
                    <td> 
                        <div>Adresas: {{location.address}}</div>
                        <button class="button is-primary" onClick="goToLocation('{{locationURL}}')">👉 Go to maps </button>
                    </td>
                    <td>
                        {{#each photos}}
                            <img width="200" src={{link}} alt="" />
                        {{/each}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>